body {
    color: hsl(0, 100%, 0%);
    background-image: url("cool-background (3).png");
}
.h1{
    text-align: center;
    color: rgb(21, 1, 24);
    font-size: larger;
}
p{
    text-align: left;
    size: 50px;
}



a {
    border-radius: 15px;
    background-color: #2c2a2a;
    text-decoration: none;
    color: #a05353;
    padding: 10px 20px;
    transition: .2s;
}

a:hover {
    background-color: #555555;
    color: #fff;
}
a:hover{
    content: "";
    font-size: 20px;
    color: rgb(130, 135, 209);
}
