.yazan{ 
    width: 250px;height: 400px;
 
position: absolute;
top: 0%;
right: 0%;
background-image: url(./ddi4x6b-7130a96c-ddda-4414-96be-d8a906f9c6d4.png);
background-size: 250px 250px;
background-color: white;
}



.d1{
    margin-bottom: 20px;
    padding: 8px;
    width: 40%;
    
    border: gray solid;

}
.d2{
    padding: 8px;
    margin-bottom:20px;

width: 40%;
    border-style: dashed ;
}
.d3{
    padding: 8px;
    margin-bottom: 20px;

    width: 40%;
    border: gray solid;
}
.i{
    background-color: orange ;
    font-weight: bold;
}
.quam{
    background-color: yellow ;
    font-weight: bold;

}
.p{
    padding: 8px;
    border: red dashed ;
    
}


.body1{
    background-color:red;
}
.p2{
    width: 50%;
    color: #af6d26;
}
.p3{
    width: 50%;
    
}
.p4{
    width: 50%;
    background-image:url(roma.webp)
}
.s2{
    font-weight: bold;
}
.d6{
    position: relative;
    
}
    .s7:hover{
        border: 2px solid grey;
        font-size: 20px;
        opacity: 0.5;
        color: black;
    }
    .h2{
        text-decoration: underline;
    }
    .p5{
        color: blue;
    }
    .p5 a{
        color: orange;
    }
    .p6 a{
        color: orange;
    }
    .p7 span{
        background-color: yellow;
        text-decoration: underline;
    }
    .l1{
        font-weight: bold;
    }
    .l1 a {
        color: red;
    }
    .l2 li{
        color: blue;
    }
    .l3{
        list-style: none;
    }
    .l2 li a{
        color: red;
    }

    .last{
        color: red;
    }
    .last:hover{
        border: 2px solid grey;
        font-size: 20px;
        opacity: 0.5;
        color: rgb(23, 201, 85);
    }
