.yazan{ 
    width: 250px;height: 400px;
 
position: fixed;
top: 0%;
right: 0%;
background-image: url(../task_19_6/ddi4x6b-7130a96c-ddda-4414-96be-d8a906f9c6d4.png);
background-size: 250px 250px;
background-color: white;
}
